@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600;700&display=swap');

:root {
	--img-baner: url(https://i.ibb.co/4Yt3Dhp/baner-iteam.png) center center /
		cover;
	--img-baner-2: url(https://piratespot-piratespot.dgbuilder.io/img/editor/ef24474ad5c04cf0a7346a658af4a4d4.webp)
		center center / cover;
	--img-background: url(https://i.ibb.co/4Yt3Dhp/baner-iteam.png) center center /
		cover;
	--live-casino-welcome-bonus: url(https://i.ibb.co/s17Z0fx/Live-Casino-Bonus-Page.webp)
		center center / cover;
	--top1860x511: url(https://i.ibb.co/6HVmg4s/TOP-1860x511.png) center center /
		cover;
	--top600x300: url(https://i.ibb.co/cNFp7SC/Promo.png) center center / cover;

	--font-color-dark: #231c3c;
	--text-color-brand: #231c3c;
	--background-opaciti-box: rgba(255, 255, 255, 0.6);
	--bg-color: #d9d9d9ff;
	--batton-bg-color: linear-gradient(
		90deg,
		rgba(255, 97, 47, 1) 0%,
		rgba(255, 187, 0, 1) 100%
	);
	--linear-gradient-color: linear-gradient(to top left, #b200ff, #4300ff);
}

body,
html {
	font-family: 'Kanit', sans-serif;
	color: var(--font-color-dark);
}

h1 {
	font-family: 'Kanit', sans-serif;
	font-size: 32px;
	color: var(--font-color-dark);
}

h2 {
	font-family: 'Kanit', sans-serif;
	font-size: 26px;
	color: var(--font-color-dark);
}

*h3 {
	font-family: 'Kanit', sans-serif;
	font-size: 22px;
	color: var(--font-color-dark);
}

h4 {
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	color: var(--font-color-dark);
}

ol,
.number-list {
	list-style-type: decimal !important;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	display: block;
}

li {
	font-family: 'Kanit', sans-serif;
	font-size: 14px;
	color: var(--font-color-dark);
}

a {
	font-family: 'Kanit', sans-serif;
	/* font-size: 14px; */
	color: var(--font-color-dark);
	text-decoration: none;
}

p {
	font-family: 'Kanit', sans-serif;
	font-size: 14px;
	color: var(--font-color-dark);
	text-indent: 7px;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	text-align: left;
	padding: 15px;
	border: 1px solid black;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	background: var(--linear-gradient-color);
	color: white;
}

details > summary {
	list-style: none;
	list-style-position: inside;
	padding: 24px;
}

summary::-webkit-details-marker {
	display: none;
}

summary::after {
	/* content: ' ►'; */
	/* content: ""; */
	list-style: none;
	font-family: 'BuilderFont' !important;
}

details[open] summary:after {
	/* content: " ▼"; */
	/* content: ""; */
	list-style: none;
	font-family: 'BuilderFont' !important;
}

summary {
	display: flex;
	align-items: center;
	justify-content: space-between !important;

	transition: margin 0.3s ease-out;
	cursor: pointer;
	background-color: #f4f4f4;
	border-radius: 15px;

	list-style: none;
	list-style-position: inside;

	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	/* font-family: 'BuilderFont'; */
}

details,
.details {
	border-radius: 15px;
	border: 1px solid #d9d9d9;
	background-color: rgba(255, 255, 255, 0.6);
}

.content {
	padding: 10px 0px;
}

.content-family-text {
	padding: 24px;
}

.border-bg-non {
	padding: 24px !important;
}

.ps-wrapper-page {
	margin: 0;
	padding: 0;
}

.font-famile_size {
	font-family: 'Kanit', sans-serif;
	font-style: normal;
	font-size: var(--text-size-h1);
	color: var(--text-color-1);
}

.welcome-bonus-page {
	padding: 0px;
	color: #231c3c;
}

.welcome-bonus-page-baner {
	width: 100%;
	height: 20vw;

	display: flex;
	border-radius: 15px;
	border: 1px solid white;
	background: var(--img-desktop);
	background-position: center;
	background-size: cover;
	text-align: center;
}

.container {
	padding: 24px 24px 0 24px;
	margin: 0;
}

.button-bonus {
	margin-top: 10px;
	margin-bottom: 22px;
	margin-left: 34px;
	min-width: 153px;
	min-height: 45px;
	text-decoration: none;
	background: linear-gradient(
		90deg,
		rgba(255, 97, 47, 1) 0%,
		rgba(255, 187, 0, 1) 100%
	);
	border-radius: 5px;
	border: none;
}

/* media screen */

@media screen and (width > 1200px) {
	.welcome-bonus-page-baner {
		width: 100%;
		height: 25.9vw;
		/*якщо розміри банера 1860*/
		background: var(--img-desktop);
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 30px;
	}
}

@media (max-width: 1200px) {
	.welcome-bonus-page-baner {
		width: 100%;
		height: 24.59vw;
	}
}

@media (max-width: 1000px) {
	.welcome-bonus-page-baner {
		width: 100%;
		height: 25.6vw;
	}

	.wrapper {
		margin: 0px;
		padding: 0 10px;
	}

	.welcome-bonus-page {
		padding: 0px;
	}
}

@media (max-width: 768px) {
	.welcome-bonus-page-baner {
		width: 100%;
		height: 55vw;
		background: var(--img-mobile);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.welcome-bonus-page {
		padding: 0px;
	}

	.border-bg-non h2 {
		text-align: center;
	}

	.border-bg-non p {
		margin-block-end: 12px;
		/* margin-bottom: 12px; */
	}

	.button-bonus {
		margin: 0 auto;
		display: block;
		width: 50%;
	}
}

@media (max-width: 480px) {
	.welcome-bonus-page-baner {
		width: 100%;
		height: 54vw;
	}

	.welcome-bonus-page {
		padding: 0px;
	}

	.wrapper {
		margin: 0;
		padding: 0;
	}
}

li .menu-item {
	align-items: center;
	display: flex;
	font-size: 14px;
	height: 40px;
	justify-content: space-between;
	padding: 0 16px;
}
/* l5-baner */
.l5--banner {
	margin-top: 0px;
	padding: 24px 24px 0px 24px;
}

.main--slider-top .main--slider-right {
	margin: 0 auto;
	padding: 24px 24px 0 24px;
	border-radius: 30px;
	overflow: hidden;
}

.l5--banner .slick-slider {
	margin-top: 0px;
}

.l5--banner .slick-slide > div > div {
	width: 100%;
	display: block;
	overflow: hidden;
}

@media screen and (max-width: 1024px) {
	.l5--banner {
		margin-top: 0px;
		padding: 16px 16px 0px 16px;
	}

	.header-icon {
		color: #f0f0f0;
	}
}

@media screen and (max-width: 768px) {
	.l5--banner {
		margin-top: 0px;
		padding: 16px 16px 0px 16px;
		margin-bottom: 16px !important;
	}
}

.l5--banner .slick-slide > div > div {
	border-radius: 10px;
}

.l5--top-layer {
	margin-top: 0px !important;
}

@media screen and (max-width: 768px) {
	.l5--banner {
		margin-bottom: 16px !important;
	}
}

/* wrapper */
.l5--wrapper {
	margin: 0 auto;
	max-width: 1568px;
	padding: 0 16px;
	position: relative;
	z-index: 999;
}

@media only screen and (max-width: 1366px) {
	.l5--wrapper {
		margin: 0 auto;
		padding: 0 16px;
	}
}

/* baner */
/* menu-mobile */

.prom-block_item,
.main--menu-item-cont {
	color: #f0f0f0;
	background: var(--brand-gradient-2) !important;
	opacity: 1 !important;
}

.menu-block:before,
.prom-block_links:before {
	background-image: var(--brand-gradient-2);
	opacity: 1;
	background: var(--brand-color-2);
}

.tb--menu-item_text {
	color: #f0f0f0;
}

/* promotions-page */
@media only screen and (max-width: 1023.9px) {
	.tb--promotion-item_info {
		opacity: 1;
		padding: 0px !important;
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		visibility: visible;
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.tb--promotion-info_name {
		display: none;
		padding: 0px !important;
	}

	.tb--promotion-item_info {
		padding: 0px 5px 10px 5px !important;
	}

	.tb--promotion_item:hover,
	.tb--promotion-item_info {
		opacity: 1;
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		height: fit-content;
		visibility: visible;
	}
}

/* main-slider-top */

.main--slider-top.main--slider-right + .livecasino--top-space {
	margin-top: 400px !important;
}

.l5--top-layer {
	margin-top: 0px !important;
}

@media screen and (max-width: 768px) {
	.l5--banner {
		margin-bottom: 0px !important;
	}
}

.main--slider-top .main--slider-right + .livecasino--top-space {
	margin-top: 0 !important;
}

.slider_casino {
	position: relative;
}

.livecasino-slider-container {
	position: relative !important;
	width: 100%;
	margin: 0 auto !important;
}

.livecasino-slider-container,
.slick-slide:after {
	display: none !important;
}

@media screen and (max-width: 425px) {
	.l5--main {
		margin: 0 !important;
	}

	.livecasino-slider-container {
		margin: 16px 16px 0 16px !important;
	}
}

.slick-slide > div > div {
	display: block !important;
	overflow: hidden;
}

@media screen and (max-width: 425px) {
	.slick-slide > div > div {
		border-radius: 10px;
		overflow: hidden;
	}
}

@media screen and (max-width: 599px) {
	.main--slider-top,
	.main--slider-right + .livecasino--top-space {
		margin-top: 0 !important;
		margin: 0 !important;
	}
}

.flex__colum__text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.border-bg-non {
	margin: 20px 0;
	padding: 24px !important;
	border-radius: 15px;
	border: 1px solid #d9d9d9;
	background-color: rgba(255, 255, 255, 0.6);
}

.footer .socials-block_icon i:before {
	font-size: 30px;
	height: 100%;
	width: 100%;
}

.footer .socials-block_icon i {
	font-size: 30px;
}

.footer .socials-block_icon i {
	font-size: 30px;
}
